<?xml version="1.0"?>

<model>
  <name>spot</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>

  <author>
    <name>Hyunseok Yang</name>
    <email>hyunseok7.yanglge.com</email>
  </author>

  <description>
    Powerd by clearpathrobotics? or Ulsan(Boston) Dynamics?
  </description>
</model>
